body {
    background: radial-gradient(circle at center, #14001f, #000000);
    color: #c084fc;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(145deg, #0b0014, #000000);
    border: 1px solid #a855f7;
    padding: 35px;
    border-radius: 18px;
    text-align: center;
    width: 420px;
    box-shadow:
        0 0 12px rgba(168,85,247,0.6),
        0 0 35px rgba(168,85,247,0.3),
        inset 0 0 20px rgba(168,85,247,0.15);
    position: relative;
}

.container::before {
    content: "V-CORE TERMINAL";
    position: absolute;
    top: -12px;
    left: 20px;
    background: black;
    padding: 2px 10px;
    font-size: 12px;
    color: #c084fc;
    border: 1px solid #a855f7;
    border-radius: 6px;
}

button {
    background: transparent;
    color: #c084fc;
    border: 1px solid #a855f7;
    padding: 12px 26px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background: #a855f7;
    color: black;
    box-shadow: 0 0 15px #a855f7;
}